/*	MAIN.CSS - Stylesheet for the layout

	(margins, position, width, height, and floats)

	No color or background declarations should be here. */

/*	Example style for CSS#

div {

	border-radius: 0px 0px 10px 10px;

	behavior: url(/css3pie/PIE.htc);

}

*/

*{	

  -webkit-box-sizing: border-box;

     -moz-box-sizing: border-box;

          box-sizing: border-box;

}

#wrapper{

	overflow: hidden;

}

.section-inner { 

	width: 960px;

	margin: 0 auto;

	position: relative;

	padding:0 5px;

}

/*useful for positioning*/

.section-wrapper{ position: relative; height: 100%; width: 100%; }

.w-w2 {	

	min-width: 970px;

}

/* --HEADER-- */

#header, .h-w1, .h-w2 { height: 200px; } /* Normal Size */

	#header.small, 

	.small .h-w1, 

	.small .h-w2{ 

		height: 150px; /* Shrinks when scrolling */	

	}



	.page-template-homepage-php #header,

	.page-template-homepage-php .h-w1,

	.page-template-homepage-php .h-w2{

		height: 130px;

	} 

#header {

	position: fixed;

	float: left; 

	width: 100%;

	z-index: 1000;

}

	#mainnav, #header-banner, #util, #logo {

		position: absolute;

	}

	#mainnav {

		top:22px;

		float: right;

		position: relative;

	}

		.page-template-homepage-php #mainnav{

			width: 100%;

			float: none;

			top:16px;

		}		

		#mainnav li { float: left; }



		/*dropdown*/

		#drop_products{

			position: absolute;

			width: 594px;

			left: -121px;

			top: 32px;

			padding-top: 13px;

			z-index: 2000;

			display: none;

		}

			.page-template-homepage-php #drop_products{top:19px;}

			.ie8 #drop_products{padding-top: 11px;}

			li:hover #drop_products{display: block;}

			

			#dp-links{ float: left; width: 170px; padding-right: 10px; }				

				#menu-main-nav #dp-links li{ clear: both; margin-bottom: 15px; width: 100%; }

			#dp-imgs{ float: left; width: 384px; }

			

				#menu-main-nav li.dp-imgs-item{ 

					margin-bottom: 5px; 

					width: 96px; 

					float: left;

					height: 106px;

					padding:1px;

					border:1px solid transparent;

				}					

				#dp-imgs img{  width: 84px; margin-top: 4px; }	

	

	#logo {

		top: 25px;

		left: 0;

		width: 352px;

	}

		.small #logo{width: 248px; top: 6px;}

		#logo img{max-width: 100%;}

		.home #logo{display: none;}



		#logohome{

			background: url(../images/homelogo.png) no-repeat;

			height: 169px;

			width: 549px;

			display: block;

			position: absolute;

			top:-125px;

			left:-43px;

		}

	#header-banner{

		top:164px;

		left:12px;

	}

		.small #header-banner{top:114px;}

		.page-template-homepage-php #header-banner{display: none;}

	#util {

		top: 139px;

		right: 5px;

	}

		.small #util{top:91px;}

		.page-template-homepage-php #util{top:71px;}

		#util li { float: left; }			

/* --CONTENT-- */

#main { 

	position: relative;

	padding-top: 500px;

}

	.page-template-homepage-php #main{padding-top: 545px; padding-bottom:300px;}

	.page-template-homepage-php #main .m-w2,

	.contact-klondike #main .m-w2{

		width: 868px;

		}

	

	.page-template-homepage-php .m-w2{

		height:500px;

		position:relative;

	}

	#main .m-w1 {position: relative; z-index: 800}

		

	#main .m-w2 { }

		#main .m-w2 {padding-top: 65px; min-height: 500px;}

	#subnav, #content {

		float: left;

	}

	/* Subnav appears after content-body in markup, 

		but often is shifted to the left */

	#subnav { 

		width: 200px;

		position: relative;

		left: -720px; /* Negative width of #content */

		top: -34px;

	}

		.contact-klondike #subnav{display: none;}

		#subnav li, #subnav li a{display: block;}

		#subnav li{ margin-top: 6px; }

			#subnav li:first-child{ margin-top: 0; }

			#subnav li ul, #subnav li li{margin-top: 10px;}



			#subnav .children {

				display: none;

			}

			#subnav .page_item_has_children.current_page_item ul,

			#subnav .page_item_has_children.current_page_parent ul {

				display: block;

			}

			#subnav .page_item_has_children.current_page_item ul li a {

				color: #96b1bb;

			}



		/*dont display it on these pages*/

		.page-template-foxyshop-ourproducts-php #subnav,

		.page-template-foxyshop-industryapp-php #subnav{display: none;}
.page-id-1954 #content{
	width: 920px;
	left:0px;
	}
	
	.page-id-1954 #content .foxyshop_product_image img{
		margin-top:0 !important;
		}
	#content {

		width: 720px;

		position: relative;

		left: 230px; /* Positive width of #subnav */

		top: 0;

	}

		.contact-klondike #content{

			width: 100%;

			left:auto;

		}

		/*strech it on these pages*/

		.page-template-foxyshop-ourproducts-php #content,

		.page-template-foxyshop-industryapp-php #content,

		.home #content{width:100%; left:auto;}

	#m-background{

		height:1150px;

		width: 100%;

		position: absolute;

		top:0;

		left:0; 

		z-index: 799;

	}

		.mb1{position: relative;}



		#m-background span{

			position: relative; 

			bottom:0; 

			left:0;

			display: block;

			width: 100%;

			z-index: 8001;

			height:1150px;

		}



		#homemask {

			background:url(../images/skin/bg/mask-overlay.png) no-repeat center bottom;

			position: absolute;

			top:0;

			left: 0;

			z-index: 8008;

			height: 1138px;

			width: 100%;

		}



		#bannermask{

			position: absolute;

			height: 890px;

			width: 100%;

			top:0;

			left: 0;

			z-index: 8000;

			background:url(../images/skin/bg/banner_mask.png) no-repeat center top fixed;

			-webkit-background-size: 100% 100%;

			-moz-background-size: 100% 100%;

			-o-background-size: 100% 100%;

			background-size: 100% 100%;

		}

			/*.page-template-homepage-php  #bannermask{

				-webkit-background-size: 100% auto;

				-moz-background-size: 100% auto;

				-o-background-size: 100% auto;

				background-size: 100% auto;

			}*/



		#bg-slideshow{

			height: 891px;

			width: 100%;

			position: absolute;	

			top: 0;

			left: 0;

			z-index: 7999;

			overflow: hidden;

		}



		.rslides {

			position: relative;

			list-style: none;

			overflow: hidden;

			width: 100%;

			padding: 0;

			margin: 0;

		}



		.rslides li {

			-webkit-backface-visibility: hidden;

			position: absolute;

			display: none;

			width: 100%;

			left: 0;

			top: 0;

		}



		.rslides li:first-child {

			position: relative;

			display: block;

			float: left;

		}



		.rslides img {

			display: block;

			height: auto;

			float: left;

			width: 100%;

			min-width: 1660px;

			border: 0;

		}



		.rslides_tabs{

			position: absolute;

			top:82px;

			left:0;

			z-index: 1999;

		}

			.rslides_tabs li{

				float: left;

				margin-left: 10px;

			}

				.rslides_tabs li:first-child{margin-left:0;}

			.rslides_tabs a{

				display: block;

				width: 40px;

				height: 1px;

				overflow: hidden;

				padding-top: 34px;

				background:url(../images/skin/bg/tabs.png) no-repeat;

			}

				.rslides_tabs .rslides_here a{

					background-position: -40px 0;

				}





/* --FOOTER-- */

#footer { font-size: 14px; }

	.f-w1, .f-w2{height:325px; overflow: hidden;}

	/*	.page-template-homepage-php .f-w1, .page-template-homepage-php  .f-w2{height: 310px;}*/

		.f-w2{padding-top: 213px;}

		/*.page-template-homepage-php .f-w2{padding-top:115px; height: 200px;}*/

	

	#footer .nav{}

		#footer .nav li{

			display: inline-block;

		}

		#footer .f-title{

			/*text-indent: -9999em;

			height: 24px;

			width: 486px;

			display: inline-block;

			background: url(../images/skin/braving-the-force-of-movement.png) no-repeat;*/

			

			display: block;

			text-align: center;

			font-size: 12px;

			line-height: 24px;

		}

	#bottomlinks{

		position: absolute;

		right: 0;

		top: 200px;

	}

		.page-template-homepage-php #bottomlinks{top: 80px;}

		#bottomlinks ul{margin:5px 0 0 0;}

	#actionlinks{

		position: absolute;

		top:0;

		left:50%;

		width: 550px;

		margin-left:-275px;

	}

		#actionlinks a{float: right;}

			#actionlinks a:first-child{float: left;}

		.page-template-homepage-php #actionlinks{display: none;}

.overview li{ 

	list-style: none; 

	float: left; 

	width: 475px; 

	height: 110px; 

	overflow: hidden;

	margin-bottom:50px;

}

	.overview li.even{padding-left: 20px;}

/* STICKY FOOTERS: Uncomment to enable */

html,body {	height:100%; }

#wrapper { min-height: 100%; position: relative; }

#footer { 

	position: absolute; 

	bottom: 0; 

	left: 0; 

	width: 100%; 

	height: 345px; 

	z-index: 800;

}

	.page-template-homepage-php #footer{/*height: 255px;*/}

.page-template-homepage-php #footer .f-title{

	/*display: none;*/

}



#main { padding-bottom: 450px; }

/* Useful Classes */

.hidetext,

#util a{

	text-indent: 120%;

	white-space: nowrap;

	overflow: hidden;

}

/* END STICKY FOOTERS */

/* --Overview Page items-- */



#product-family{

	width: 371px;

	height: 277px;

	position: absolute;

	top:-184px;

	right: 0;

}

	.page-template-homepage-php #product-family{top:-214px; display:none;}

	#product-family a{

		position: absolute;

		bottom:60px;

		left:-25px;

		width: 47px;

		height: 15px;

	}

		.page-template-homepage-php #product-family a{display: none;}

	/*.page-child #product-family{display: none;}	*/

	.parent-pagename-industry-applications #product-family{display: block;}	



	.marine #product-family{display: none;}	



	#product-family img{

		display: block;

		position: absolute;

		right: 0;

		top: 0;

	}

		.page-template-homepage-php #product-family img{

			top:40px;

			display:none;

		}

	#product-family-lightbox{  

		position: fixed;

		top:50%;

		left:50%;

		z-index: 9900;

		cursor: pointer;

	}



/*Product Pages*/

.products-container{margin:11px 0 0 0;}

	#content .products-container{margin:0;}

.products-container .pc-item{ 

	float: left; 

	margin:0 0 30px 50px; 

	width: 200px; 

}	

.products-container .pc-item p{

	display: none;

}

	/*.page-template-foxyshop-ourproducts-php .products-container .content-holder{padding-left:25px; width:420px; text-align: left; }

*/

	/*.page-template-foxyshop-ourproducts-php #content .products-container .pc-item{ width: 160px; margin:0 0 30px 26px; }

	.page-template-foxyshop-ourproducts-php #content .products-container.details .pc-item{ width: 100%; margin:0 0 30px 0; }

*/

	.pc-item:first-child, #content .pc-item:first-child,

	.pc-item.newrow, #content .pc-item.newrow{margin-left:0;}

	.pc-item .title{ color:#fff; }

	.page-template-foxyshop-ourproducts-php .pc-item .foxyshop_category_image,

	.page-template-foxyshop-industryapp-php .pc-item .foxyshop_category_image,

	.foxyshop-single-product #content .foxyshop_product_image a{

		position: relative; 

		display: block;

		width: 100%

	}

		.foxyshop-single-product #content .foxyshop_product_image_holder,

		.foxyshop-single-category #content .foxyshop_product_image_holder,

		.foxyshop-single-category #content .foxyshop_product_image a{

			position: relative; 

			display: block;

			width: 100%;

			height:100%;

			/*padding: 30px;*/

		}

		.page-template-foxyshop-ourproducts-php #content .pc-item img,

		.page-template-foxyshop-industryapp-php #content .pc-item img{

			/*display: block;

			position: absolute;

			left:50%;

				margin-left:-75px;

			top:50%;

				margin-top:-75px;*/

			top: 50%;
			position: relative;
			transform: translateY(-50%);

		}

		#content .foxyshop_product_image a {
			   /* margin: 10px;*/
			   position: relative;
			   display: block;
			   height: 100%;
		}

		#content .foxyshop_product_image img{

			/*display: block;*/
			margin: 0 auto !important;
			position: relative;
			top: 50%;
			transform: translateY(-50%);


			/*left:50%;

				margin-left:-48px!important;

			top:50%;

				margin-top: 0!important;*/

		}

			.foxyshop-single-product #content .foxyshop_product_image a{height: 330px;}

			.foxyshop-single-product #content .foxyshop_product_image img{

				/*margin-left:-135px!important;			

				margin-top:-150px!important;

*/
					max-width: 240px;
					max-height: 280px;
					position: relative;
  top: 50%;
  transform: translateY(-50%);

			}

/*Industry Applications Options*/

#content .iao ul{margin:0;}

	#content .iao ul li:before{content:"";}

		#content .iao ul li img{margin:0;}

#content #featured-products li{

	width: 160px;

	margin:0 0 30px 26px;

	float: left;

}

#content #applicable-products li{

	display: inline-block;

	width: 160px;

	margin:0 20px 30px 0;

}

	

/*applicable-products*/

#applicable-products a{

	text-transform: capitalize;

}

/*foxy shop styles*/

#content .foxyshop_product_box{ width: 160px; margin:0 0 30px 26px; height: 200px;}

	#content .foxyshop_product_box.newrow{margin-left:0;}

	

	#subnav .foxyshop_product_list.product-list-nav li{clear:both;float:none;}

	.single-foxyshop_product #subnav > li{border:none;padding:0;background:none;}

	.single-foxyshop_product #subnav > li > ul.children > li{ background: none repeat scroll 0 0 #001E28;border: 1px solid #64696E;padding: 10px;list-style:none;}

	.single-foxyshop_product #subnav > li > ul.children > li a{color: #FFFFFF;line-height:1;}

		.single-foxyshop_product #subnav > li > ul.children > li a:before{content:"";}

		.single-foxyshop_product #subnav > li > ul.children > li a:hover{color: #FFA500;}

			.single-foxyshop_product #subnav > li > ul.children > li.foxyshop-active-category a{color: #FFA500;}

			.single-foxyshop_product #subnav > li > ul.children > li.foxyshop-active-category .foxyshop_product_list.product-list-nav li{width:100%;margin:0 0 10px 0;}

.single-foxyshop_product #subnav > li > ul.children > li.foxyshop-active-category .foxyshop_product_list.product-list-nav li a{color:#91afba;}

.single-foxyshop_product #subnav > li > ul.children > li.foxyshop-active-category .foxyshop_product_list.product-list-nav li a:before{content: "• ";}

.single-foxyshop_product #subnav > li > ul.children > li.foxyshop-active-category .foxyshop_product_list.product-list-nav li a:hover{text-decoration:underline;}

.foxyshop-single-category #subnav > li{border:none;padding:0;background:none;}

	.foxyshop-single-category #subnav > li > ul.children > li{ background: none repeat scroll 0 0 #001E28;border: 1px solid #64696E;padding: 10px;list-style:none;}

	.foxyshop-single-category #subnav > li > ul.children > li a{color: #FFFFFF;line-height:1;}

		.foxyshop-single-category #subnav > li > ul.children > li a:before{content:"";}

		.foxyshop-single-category #subnav > li > ul.children > li a:hover{color: #FFA500;}

			.foxyshop-single-category #subnav > li > ul.children > li.foxyshop-active-category a{color: #FFA500;}

			.foxyshop-single-category #subnav > li > ul.children > li.foxyshop-active-category .foxyshop_product_list.product-list-nav li{width:100%;margin:0 0 10px 0;}

.foxyshop-single-category #subnav > li > ul.children > li.foxyshop-active-category .foxyshop_product_list.product-list-nav li a{color:#91afba;}

.foxyshop-single-category #subnav > li > ul.children > li.foxyshop-active-category .foxyshop_product_list.product-list-nav li a:before{content: "• ";}

.foxyshop-single-category #subnav > li > ul.children > li.foxyshop-active-category .foxyshop_product_list.product-list-nav li a:hover{text-decoration:underline;}

 #subnav > li > ul.children > li.foxyshop-active-category .foxyshop_product_list.product-list-nav li.active a{text-decoration:underline;}

 

 

 #subnav #nav_menu-2{background:none;}

#subnav > li#nav_menu-2  ul#menu-product-sidebar > li {

    background: none repeat scroll 0 0 #001E28;

    border: 1px solid #64696E;

    list-style: none outside none;

    padding: 10px;

}

#subnav > li#nav_menu-2  ul#menu-product-sidebar > li a{color:#fff;}

#subnav > li#nav_menu-2  ul#menu-product-sidebar > li a:hover{color:#FFA500;}

#main #subnav > li#nav_menu-2  ul#menu-product-sidebar > li.current-foxyshop_product-ancestor a{color:#FFA500;}

	#main #subnav > li#nav_menu-2  ul#menu-product-sidebar > li .sub-menu a{color:#96B1BB;}

		#main #subnav > li#nav_menu-2  ul#menu-product-sidebar > li .sub-menu a:hover{text-decoration:underline;}

		#main #subnav > li#nav_menu-2  ul#menu-product-sidebar > li li.current-menu-item a{text-decoration:underline;}

		#main #subnav li li li {position: relative; padding-left: 10px;}

	#main #subnav li li li a:before {

    content: "• ";

    position: absolute;

    top:0;

    left:0;

}

#main #subnav li li a:before {

   /* content: "";*/

}

.single-foxyshop_product #main #subnav > li#nav_menu-2  ul#menu-product-sidebar > li .sub-menu{display:none;}

.single-foxyshop_product #main #subnav > li#nav_menu-2  ul#menu-product-sidebar > li.current-foxyshop_product-ancestor .sub-menu{display:block;}

.foxyshop-single-category #main #subnav > li#nav_menu-2  ul#menu-product-sidebar > li .sub-menu{display:none;}

.foxyshop-single-category #main #subnav > li#nav_menu-2  ul#menu-product-sidebar > li.active-parent-subnav .sub-menu{display:block;}

 .foxyshop-single-category #main #subnav li.active-parent-subnav > a{color:#FFA500;}

  .foxyshop-single-category #main #subnav li .sub-menu{display:none;}

  .foxyshop-single-category #main #subnav li.active-parent-subnav .sub-menu{display:block;}

  

  .single-foxyshop_product #menu-product-sidebar > li > .sub-menu{display:none;}

  .single-foxyshop_product #menu-product-sidebar > li.current-foxyshop_product-ancestor.current-menu-parent.current-foxyshop_product-parent > .sub-menu{display:block;}

  .single-foxyshop_product #menu-product-sidebar > li.current-menu-ancestor.current-menu-parent.current-foxyshop_product-parent > a {color:#FFA500;}

  	.single-foxyshop_product #menu-product-sidebar > li.current-menu-ancestor.current-menu-parent.current-foxyshop_product-parent > .sub-menu li.current-menu-item a{color:#fff;}

	.postid-272 #content .foxyshop_product_image img {margin-left: -118px !important;}



.foxyshop_slideshow_title {

	display: none;

}

.foxyshop_slideshow {

	display: none;

}

.foxyshop_slideshow li:before {

	display: none;

}



/* --Carousel-- */

#carousel-wrap{

	width: 867px;

	position: relative;	

	margin-top: 20px;

	height: 560px;

}

#carousel {

	width:774px;

	height:248px;

	margin:auto;

	position:relative;

	clear:both;

	overflow:hidden;

	z-index: 600;

}

#carousel img {

	visibility:hidden; /* hide images until carousel can handle them */

	cursor:pointer; /* otherwise it's not as obvious items can be clicked */

	top: 20px!important;

	max-height: 170px!important;

}



.carousel-title{

	display: block;

	width:258px;

	position: absolute;

	bottom:10px;

	text-align: center;

	left:258px;

	display: none;

	color: #e25205;

	font-weight: 600;

	font-size: 18px;

}

.carousel-center+.carousel-title{

	display: block;

}



#car-center{

	position: absolute;

	width: 2400px;

	height: 248px;

	left:50%;

	margin-left:-1200px;

	top:0;

	background: url(../images/skin/bg/slider_mask.png) no-repeat top center;

	z-index: 500;

}



.ca-prev,

.ca-next{

	display: block;

	width: 81px;

	height: 230px;

	background: #e25205;

	position: absolute;

	top:-10px;

	z-index: 800;

}

	.ca-prev{left:-5px; background: url(../images/skin/bg/car-prev.png) no-repeat left top;}

	.ca-next{right: -17px; background: url(../images/skin/bg/car-next.png) no-repeat left top;}





/*contact form*/

#contact-form{margin-top: 40px;}

#contact-form br{ display: none; }

#contact-form .label{

	display: inline-block;

	width: 94px;

	white-space: nowrap;

}

	#contact-form .label span{ 

		display: inline-block;

		margin-left: 1px;

		line-height: 16px;

		color: #E25205;

	}

	#contact-form .kform-area .label{ display: block; width: 100%; }



#contact-form div{

	float: left;

	margin-bottom: 20px;

}

#contact-form .wpcf7-form-control-wrap{

	background:#fff;

	padding:4px 0;

	border:1px solid #002A3A;

}

	#contact-form .kform-area .wpcf7-form-control-wrap{

		padding:0;

		border:0;

	}

#contact-form input[type="text"],

#contact-form input[type="email"],

#contact-form input[type="number"]{

	background:none;

	line-height: 16px;

	width: 220px;

	border:0;

	padding: 0 8px;

}



.kform-company,

.kform-phone{

	margin-left:40px;

}



.kform-email{

	clear:left;

}



.kform-area{

	width: 679px;

}



	.kform-area textarea{

		width: 100%;

		max-width: 100%;

		margin-top: 8px;

		border:1px solid #002A3A;

		padding: 8px;

		font-family: 'Open Sans', sans-serif;

		font-size: 14px;

	}



.kform-submit{

	clear:both;

}



.kform-submit .wpcf7-submit{

	background:url("../images/skin/cta-rest_bg.png") repeat-x;

	color: #fff;

	border:1px solid #FFB300;

	padding: 6px 18px;

	text-transform: uppercase;

	font-size: 14px;

	font-weight: 600;

	cursor: pointer;

}

	.kform-submit .wpcf7-submit:hover{color:#F2A900;}







/*PAGE OVERVIEWS*/

.page-template-overview-php #subnav{display: none; visibility: hidden;}

.page-template-overview-php #content{

	width: 100%; 

	left:auto; 

	position: static;

}

.page-template-overview-php .section-overview ul{margin:0!important;}

.so-item{

	width: 460px; 

	position: relative;

	padding-left: 210px;

	margin-bottom: 50px;

	min-height: 110px;

}

	.so-item:before{

		content:""!important;

		display: table;

 		clear: both;

	}

	.so-item.odd{

		float: left;

		clear:both;

	}

	.so-item.even{

		float: right;

	}



	.so-item .img-holder{

		position: absolute;

		top:0;

		left:0;

		width: 200px;

		height: 110px;

		/*border:1px solid #eca601;*/

		

		overflow: hidden;

	}

		.so-item .img-holder div{position: relative; height: 100%; width: 100%;}

			.so-item .img-holder a{

				display: block;

				position: absolute;

				top:0;

				left:0;

				width: 100%;

				height: 100%;

				padding: 10px;

				z-index: 101;

				background: url(../images/skin/bg/so-item-bg.png) no-repeat;

			}

				.no-touch .so-item .img-holder a:hover{background-position: 0 -110px;}

			.so-item .img-holder img{

				margin:0 !important; 

				border:none!important;

				display: block;

				position: absolute;

				top:5px;

				left:5px;

				z-index: 100;

				width: 190px;

				height: 100px;

			}



	.so-item .title{

		display: block;

		font-size: 18px;

		color: #ffa500;

		line-height: 1.1;

	}

	.so-item p{

		font-size: 12px;

		line-height: 1.38;

		margin-bottom: 0.7em;

	}

	.so-item a.more{

		display: block;

		height: 1px;

		padding-top: 19px;

		width: 118px;

		overflow: hidden;

		background: url(../images/skin/bg/discover_more.png) no-repeat;

	}

	.no-touch .so-item a.more:hover{

		background-position: 0 -20px;

	}



/*Accordion*/

.c-w1 .accord ul{margin:0;}

.accord li:before{content:" "!important; margin:0!important;}



.accord>ul>li>ul{

	display: none;

}

.accord-sec{

	display: block;

	color: #fff;

	font-weight: 700;

	padding: 0 0.25em 0 2.6em ;

	cursor: pointer;

	height: 41px;

	line-height: 41px;

	overflow: hidden;

	background: url(../images/skin/bg/accord-icons.png)  0.625em 0 no-repeat ;

	border:1px solid #CF5C03;

	font-weight: 600;

	text-transform: uppercase;

	margin-bottom: -1px;

}

	.accord-sec.on{

		background-position: 0.625em -40px;

	}

	.accord ul.active{padding-bottom: 0.625em;}

.table-head, .table-body{

	display: table; 

	width: 100%;

}

	.table-head li, .table-body li{

		display: table-cell;

		text-align: center;

	}

		.table-head li.a-products, .table-body li.a-products{ 

			width: 52%;

			text-align: left;

		}



		.a-sds, .a-msds-en, .a-msds-en, .a-msds-fr, .a-pds{

			width: 12%;

		}

	.table-head li{

		text-transform:uppercase;

		font-weight: 700;

	}

		.table-head span {

			display: block;

			padding: 0.65em;

		}

		.table-body span {

			display: inline-block;

			padding: 0.65em;

		}



	.table-body a{

		display: inline-block;

		padding: 0.65em;

	}





.section-overview{

	margin-top: 5.2em;

}



#home-video{

	position:absolute; 

	left:550px; 

	bottom:481px;

	background: url('/wp-content/uploads/2015/11/klondike-video.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);

	height:213px;

	width:376px;

	display:block;

	box-shadow: 0px 0px 5px #fff;

}



@media screen and (max-device-width: 768px){



#home-video{

	display:none;

}

}

.f-title img {

	display: inline-block;

	margin: 0 auto;

	width: 25px;

	height: auto;

	/*margin-bottom: 10px;*/

}

#copyright {

	text-align: center;

	font-size: 10px;

	padding-bottom: 20px;

}

#copyright ul:first-child {

	margin-left: 6px;

}

#copyright ul {

	display: inline-block;

	margin-left: 0;

}

#copyright ul li {

	display: inline-block;

}

#copyright ul li a {

	display: inline-block;

	padding: 0 6px;

	text-decoration: underline;

}

#copyright ul li a.b-Connect {

	position: relative;

}

#copyright ul li a.b-Connect:after {

  content: '';

  position: absolute;

  background: url(../images/skin/linkedin.png) right 4px no-repeat;

  width: 18px;

  height: 25px;

  line-height: 25px;

  text-align: left;

  top: -7px;

  right: -16px;

}



#copyright ul li:last-child:after {

	display: none;

}

#copyright ul li:before{

	content: ' | ';

}



#foxyshop_container > p{clear:both;}



.eze-boxs ul li {

	float: left;

}

.eze-boxs ul li a {

	/*margin: 10px;*/

}

.eze-boxs ul li span {

	color: #ffa500;

    text-decoration: none;

	font-size: 12px;

	/*margin-top:8px;*/

}