/*      

Theme Name: Klondike

Theme URI: http://www.graphicallyspeaking.ca/

Description: Template by GSSI.

Version: 1.0

Author: Graphically Speaking Services Inc.

Author URI: http://www.graphicallyspeaking.ca/

Tags: 

   

*/
/*.foxyshop_slideshow_title,.foxyshop_slideshow{display:none;}
#foxyshop_container > p{clear:both;}
.f-title img {margin-bottom:0;}
.c-w1 #carousel-wrap img{margin-left:0;}



#menu-item-2883 a:before {
	content: "";
}*/
