html,body{
    margin:0;
    padding:5px;
    background:#fff;
    color:#000;
    font-family:sans-serif;
    font-size:11pt;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0 0 1em 0;
}
dt{
    float:left;
}
table{
    width:100%;
    margin-bottom:20px;
}
th,td{
    text-align:left;
    padding:2px 30px 4px 0;
}
#printButtons span{
    cursor:pointer;
}
#printWrapper{
    max-width:800px;
    margin:0 auto;
}
.primaryProductTitle h1{
    font-size:12pt;
    padding:1em 0;
}
.modelInfo dt{
    display:none;
}
.modelInfo dd{
    margin:0;
    line-height:1.5em;
    font-weight:bold;
}
.primaryRecommendationPackshot{
    width:200px;
    float:right;
}
.primaryRecommendationPackshot img{
    max-width: 100%;
}
.recommendationTable{
    clear:right;
}
.recommendationTable table{
    width:100%;
    border-collapse:collapse;
}
.recommendationTable th,.recommendationTable td{
    padding:10px 20px;
    border:solid 1px #000;
}
.tiername{
    white-space:nowrap;
}
.application{
    width:10%;
}
th.application>div{
    display:none;
}
.recommendation{
    width:40%;
}
.recommendation a{
    color:#000;
    text-decoration:none;
}
.emailButton label{
    display:inline-block;
    margin:10px 10px 10px 0;
    width:120px;
}
.emailButton input{
    padding:10px;
    margin:10px;
}
.control-label, .controls {
    display: inline-block;
}
.error-container, .error {
    display: inline-block;
    color: red;
}
.emailButton .controls .error {
    width: auto;
}