* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #272727;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #272727;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
  }
  h1 {
    margin: 0;
    padding: 0 0 1em 0;
  }
  h2 {
    margin: 0;
    padding: 0 0 1em 0;
  }
  h3 {
    margin: 0;
    padding: 0 0 1em 0;
  }
  h4 {
    margin: 0;
    padding: 0 0 1em 0;
  }
  h5 {
    margin: 0;
    padding: 0 0 1em 0;
  }
  h6 {
    margin: 0;
    padding: 0 0 1em 0;
  }
  p {
    margin: 0;
    padding: 0 0 1em 0;
  }
  br {
    clear: both;
  }
  select, input[type="text"]{
    background: rgb(182,193,197);
    background: linear-gradient(90deg, rgba(182,193,197,1) 0%, rgba(182,193,197,0.70) 100%, rgba(255,255,255,1) 100%);
    -moz-box-shadow: inset 0 0 3px 3px #7f898a; -webkit-box-shadow: inset 0 0 3px 3px#7f898a; box-shadow: inset 0 0 3px 3px #7f898a;
    border: 1px solid #f6fdff;
    border-radius: 0;
    color: #223138;
    font-size: 14px;
    font-weight: normal;
    height: 60px;
    line-height: 60px;
  }
  img {
      max-width: 100%;
  }
  ::placeholder {
      color: #223138!important;
  }
  ::-webkit-input-placeholder {
    color: #223138!important;
  }
  ::-ms-input-placeholder {
    color: #223138!important;
  }
  :-ms-input-placeholder {
    color: #223138!important;
  }
  .clear {
    clear: both;
  }
  .filter-text {
    margin: 10px;
  }
  a {
    color: #19aadf;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  table {
    border-spacing: 0;
    width: 100%;
  }
  th {
    padding: 2px;
  }
  td {
    padding: 2px;
  }
  form {
    margin: 0;
  }
  body.home-page #footer{
    display: none;
  }
  h2.os-title {
    color: #FFF;
    font-size: 36px;
  }
  h2.filter-title {
    margin-bottom: 0px;
    padding: 0;
    text-transform: uppercase;
  }
  .header-container {
    display: block;
    position: relative;
    text-align: center;
  }
  .home-page .header-container {
    padding: 45px 0 125px;
  }
  #languageSelector {
    position: absolute;
    top: 35px;
    right: 30px;
  }
  #languageSelector select {
    float: right;
    margin: 5px 5px 0 0;
    height: 35px;
  }
  #languageSelectorRecommendation {
    height: 30px;
    line-height: 30px;
  }
  #languageSelectorRecommendation select {
    float: right;
    margin: 5px 5px 0 0;
  }
  input.button {
    background: linear-gradient(to bottom, #b12124 0, #831513 100%);
    color: #ffffff;
    border: 1px solid #b12124;
    padding: 0 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    text-decoration: none;
  }
  .clearFacetContainer {
    display: inline-block;
  }
  .facetSearchBottom {
    clear: both;
    padding: 0 30px 30px;
  }
  .clearFacetContainer a {
    background: linear-gradient(to right, #e0701c 0, #e0701e 100%);
    color: #223138;
    border-radius: 6px;
    display: inline-block;
    font-size: 15px;
    margin: 0 15px 0 0;
    padding: 0 15px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
  }
  .clearFacetContainer a.clearFacetAll {
    background: linear-gradient(to right, #f1a900 0, #f0a900 100%);
    border-radius: 0;
    margin-right: 0;
  }
  .searchControls a {
    background: linear-gradient(to bottom, #e0701c 0, #e0701e 100%);
    color: #223138;
    padding: 0 10px;
    border-radius: 6px;
    text-decoration: none;
    padding: 3px 8px;
  }
  .clearFacetContainer h3 {
    color: #FFF;
    float: left;
    font-size: 24px;
    line-height: 48px;
    margin: 0 15px 0 0;
    text-transform: uppercase;
  }
  #provideFeedback {
    background: linear-gradient(to bottom, #b12124 0, #831513 100%);
    color: #ffffff;
    border: 1px solid #b12124;
    padding: 0 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    text-decoration: none;
  }
  .searchMessage button.button {
    background: #f1a900;
    border: 0;
    cursor: pointer;
    color: #002a3a;
    font-size: 14px;
    width: 48px;
    height: 45px;
  }
  .searchMessage button.button:disabled {
    background: #094256;
    color: #002a3a;
    cursor: not-allowed;
  }
  .searchMessage form.prev_page {
    float: left;
  }
  .searchMessage form.next_page {
    float: right;
  }
  .searchPageControls p{
    color: #FFF;
    display: inline-block;
    font-size: 15px;
    line-height: 45px;
    padding: 0 15px;
  }
  .datasheet {
    display: inline-block;
    padding-right: 20px;
  }
  .home-page {
    background-color: #002a3a;
  }
  #newSearchButton {
    text-align: right;
  }
  #newSearchButton a {
    background: linear-gradient(to bottom, #b12124 0, #831513 100%);
    color: #ffffff;
    border: 1px solid #b12124;
    padding: 0 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    text-decoration: none;
  }
  #facetResultsBlock input.fa {
    display: none;
  }
  #facetResultsBlock .modelSearchContainer p {
    display: none;
  }
  #facetsContainer.fixed {
    position: fixed;
  }
  #facetSearchBG {
    background-image: url(../images/klondike-welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: bottom right;
    margin-bottom: 0;
  }
  #facetResultsBlock .header-container {
    background-image: url(../images/bg-header.jpg);
    background-color: #06212C;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: bottom left;
    min-height: 300px;
    padding-top: 30px;
  }
  @media screen and (max-width:1200px){
    #facetResultsBlock .header-container{
      background-size: 160% auto;
    }
  }
  @media screen and (max-width:480px){
    #facetResultsBlock .header-container{
      background-size: 180% auto;
    }
  }

  #facetResultsBlock .header-logo {
    text-align: right;
    margin-right: 25px;
    padding-top: 45px;
  }

  #facetSearch {
    color: #ffffff;
    text-align: center;
  }
  .modelSearchContainer.facetDropdown {
      max-width: 800px;
      margin: 0 auto;
  }
  #facetResultsBlock.home .modelSearchContainer.facetDropdown {
    float: none;
    margin: 0 auto;
  }
  #facetResultsBlock.home h2.os-title {
    padding-top: 30px;
  }
  #facetSearch .modelSearchBlock {
    float: left;
  }
  .os-home-search-text{
      width: 63%;
  }
  .os-home-search-text input, .os-home-search-select select, .os-home-search-btn input {
      margin-right: 20px;
      width: calc(100% - 20px);
  }
  .os-home-search-select {
      width: calc(37% - 80px);
  }
  .os-home-search-select .select-selected {
      margin-right: 20px;
      padding-left: 25px;
  }
  .os-home-search-btn{
      width: 60px;
  }

  #facetSearch #modelSearchButton {
    margin: 0;
  }
  #modelSearchButton input.button {
    background: #f1a900;
    border: none;
    border-radius: 0;
    color: #223138;
    display: block;
    height: 60px;
    width: 100%;
  }
  #modelSearchButton input.button:not(:disabled) {
    cursor: pointer;
  }
  .facetSearchTop #modelSearchButton input.button {
    height: 50px;
  }
  #modelSearchInput input.text {
    padding: 15px 25px;
    display: block;
  }
  #imageStrapline {
    background: #272727;
  }
  #imageStrapline img {
    width: 100%;
  }
  #facetsContainer {
    width: 100%;
  }
  div#facetResultsTable {
    overflow-y: auto;
    width: 100%;
  }
  table.vehicle{
    padding: 0 30px;
    text-align: center;
    width: 100%;
  }
  table.vehicle th {
    color: #e9a913;
    min-height: 48px;
  }
  table.vehicle tr {
    height: 48px;
    min-height: 48px;
  }
  table.vehicle tr td{
    color: #FFF;
  }
  table.vehicle tr.row1 {
    background: #094256;
  }
  table.vehicle tr.row2 {
    background: #002a3a;
  }
  .facetSearchTop {
    padding: 0 30px 20px;
  }
  #facestsContainer .modelSearchContainer p {
    display: none;
  }
  #facetResultsBlock {
    background-color: #002a3a;
  }
  .searchFacets {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
  }
  .searchFacets h2 {
    display: none;
  }
  .searchFacets select {
    width: 100%;
    display: block;
  }
  .facet {
    flex: 1;
    margin: 0 15px 0 0;
    /* order: 6; */
  }
  /* .facet.displacement.os-select {
    margin-right: 0;
  } */
  .facet:last-child {
    margin-right: 0;
  }
  /* .facet.year {
    order: 1;
  }
  .facet.manufacturer {
    order: 2;
  } */
  .modelSearchContainer input {
    padding: 6pt;
  }
  .facetSearchTop #modelSearchInput input.text {
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    padding: 0 20px;
    width: 100%;
  }
  #facetResultsBlock .modelSearchContainer {
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }
  .facetSearchTop div#modelSearchInput {
    width: calc(63% - 20px);
  }
  .facetSearchTop div#modelSearchSelect {
    width: calc(37% - 70px);
  }
  .facetSearchTop div#modelSearchButton {
    width: 50px;
    margin-right: 0;
  }
  .facetSearchTop div.modelSearchBlock {
    float: left;
    margin-right: 20px;
  }
  .searchPageControls input {
    margin-bottom: 10px;
  }
  .searchPageControls select {
    margin-bottom: 10px;
  }
  #recommendationPage {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .primaryRecommendationPackshot img {
    width: 100%;
  }
  #actions span {
    display: inline-block;
    cursor: pointer;
  }
  #actions a {
    color: #272727;
    text-decoration: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 40px;
  }
  #actions #provideFeedback {
    display: inline-block;
    color: #ffffff;
    padding: 0 10px;
    text-align: center;
  }
  #noteNavigation span {
    display: inline-block;
    cursor: pointer;
  }
  .block {
    background: #a7a7a7;
    margin-bottom: 14px;
  }
  .block .application {
    height: 30px;
    line-height: 30px;
    background: #b12124;
    color: #ffffff;
    padding: 0 5px;
    cursor: pointer;
  }
  .block-container {
    padding: 5px;
  }
  .capacity {
    padding: 5px;
  }
  /*the container must be positioned relative:*/
.os-select {
    position: relative;
    font-family: Arial;
  }
  
  .os-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "\f063";
    top: 25px;
    right: 44px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .select-selected:before {
    content: '';
    height: 58px;
    position: absolute;
    top: 0;
    right: 80px;
    width: 1px;
    background: #f6fdff;
}
#languageSelector .select-selected:before {
  background: #0B4256;
}
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #FFF transparent;
    content: '\f062';
    top: 23px;
  }
  .page-container .select-items div {
    border-top: 0;
    height: 28px;
    line-height: 28px;
    text-align: left;
    width: 100%;
  }
  .select-items div {
    text-align: left;
  }
  .select-items div:before{
      content: '';
      padding-left: 25px;
  }
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    background: rgb(182,193,197);
    background: linear-gradient(90deg, rgba(182,193,197,1) 0%, rgba(182,193,197,0.90) 100%, rgba(255,255,255,1) 100%);
    color: #223138;
    font-size: 14px;
    height: 58px;
    line-height: 58px;
    border: 1px solid #f6fdff;
    border-radius: 0;
    cursor: pointer;
    user-select: none;
    text-align: left;
  }
  #languageSelector .select-items div,#languageSelector .select-selected {
    background: #002a3a;
    color: #FFF;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #0B4256;
  }
  .select-selected {
    padding-right: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -moz-box-shadow: inset 0 0 3px 3px #7f898a;
    -webkit-box-shadow: inset 0 0 3px 3px#7f898a;
    box-shadow: inset 0 0 3px 3px #7f898a;
  }
  .facetSearchTop .select-items div,.facetSearchTop .select-selected {
    height: 48px;
    line-height: 48px;
    
  }
  .facetSearchTop .select-items div {
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .facetSearchTop .select-items div:first-child {
    display: none;
  }
  .facetSearchTop .modelSearchBlock .select-items {
    width: 100%;
  }
  .facetSearchTop .select-items div:before{
    padding-left: 20px;
  }
  .facetSearchTop .select-selected {
    padding-left: 20px;
  }
  .facetSearchTop .select-selected.select-arrow-active:after {
    top: 18px;
  }
  .facetSearchTop .select-selected:before {
    height: 48px;
    right: 48px;
  }
  .facetSearchTop .select-selected:after {
    top: 18px;
    right: 17px;
  }
  .languageSelector .select-selected {
    width: 160px;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
  }
  .languageSelector .select-selected:before {
    right: 29px;
    height: 30px;
  } 
  .languageSelector .select-selected.select-arrow-active:after {
    top: 8px;
  }

  .languageSelector .select-selected:after {
    right: 8px;
    top: 10px;
  }
  .languageSelector .select-items div:before {
    content: '';
    padding-left: 15px;
  }
  
  /*style items (options):*/
  .select-items {
    background: rgb(182,193,197);
    background: linear-gradient(90deg, rgba(182,193,197,1) 0%, rgba(182,193,197,0.1) 100%, rgba(255,255,255,1) 100%);
    color: #223138;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .modelSearchBlock .select-items {
    width: calc(100% - 20px);
  }
  .languageSelector .select-items {
    width: 100%;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: #223138;
    color: #FFF;
  }
  /* Footer */
  #footer {
    background-image: url('../images/bg-footer.png');
    background-position: center top;
    background-color: #002a3a;
    background-repeat: no-repeat;
    margin-top: 80px;
    padding-top: 207px;
  }
  .footer-logo {
    clear: both;
    padding: 12px 0 15px;
    text-align: center;
  }
  .footer-container {
    color: #FFF;
    padding: 0 30px;
    text-align: center;
  }
  .footer-info p {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 0;
  }
  .footer-info ul {
    list-style-type: none;
  }
  .footer-info ul li {
    display: inline-block;
    font-size: 12px;
    padding-right: 15px;
    position: relative;
  }
  .footer-info ul li:not(:last-child):after {
    content: '';
    width: 6px;
    height: 6px;
    background: #FFF;
    border-radius: 5px;
    position: absolute;
    top: 4px;
    right: 2px;
  }
  .footer-contact-info {
    margin-top: 10px;
  }
  .footer-contact-info a{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
  }
  .copyright {
    clear: both;
    font-size: 10px;
    margin-top: 5px;
    padding-bottom: 20px;
  }
  .copyright ul {
    display: inline-block;
  }
  .copyright p {
    margin: 0;
    padding: 0;
    height: 25px;
    line-height: 25px;
  }
  .copyright ul li {
    display: inline-block;
    padding-right: 15px;
    vertical-align: top;
  }
  .copyright ul li a, .footer-contact-info a{
    color: #FFF;
  }
  .searchMessage {
    float: right;
  }
  .searchMessage.no-results {
    float: none;
  }
  .searchMessage.no-results p {
    color: #FFF;
    font-size: 16px;
  }
  .searchMessage.no-results .searchControls li {
    display: inline-block;
  }
  .searchMessage.no-results .searchControls a {
    padding: 8px;
  }

  /* Equipment detail */
  #modelRecommendation {
    background: #FFF;
    border: 2px solid #f67a20;
    padding: 30px 59px;
    overflow: hidden;
  }
  .primaryProductTitle {
    color: #002a3a;
    padding-bottom: 17px;
    text-transform: uppercase;
  }
  .equipment-left {
    float: left;
    padding: 16px 4px;
    width: 75%;
  }
  .equipment-right {
    display: inline-block;
    width: calc(25% - 8px);
  }
  .equipment-left p.is-recommended {
    color: #9aabb2;
    font-size: 18px;
  }
  .modelInfo ul {
    display: flex;
    flex-wrap: wrap;
  }
  .modelInfo li {
    flex-grow: 1;
    flex: auto;
    font-size: 14px;
    margin-bottom: 16px;
    width: 35%;
    font-size: 20px;
  }
  .modelInfo li strong{
    color: #e56826;
    float: left;
    width: 88px;
  }
  .modelInfo li span{
    color: #002a3a;
    float: left;
    width: calc(100% - 88px);
  }
  .actionTop {
    display: block;
    overflow: hidden;
    padding: 30px 0 34px;
    width: 100%;
  }
  .actionTop.fixBottom ul{
    float: left;
  }
  .actionTop ul{
    float: right;
  }
  .actionTop ul li {
    display: inline-block;
    margin-left: 47px;
  }
  .actionTop ul li:first-child {
    margin-left: 0;
  }
  .actionTop ul li a {
    color: #d29c18;
  }
  .clearfix {
    clear: both;
  }
  .equipment-collapsible-actions {
    margin: 15px 0 5px;
    overflow: hidden;
  }
  .equipment-collapsible-actions  ul{
    float: right;
  }
  .equipment-collapsible-actions li {
    display: inline-block;
    margin-left: 5px;
  }
  .equipment-collapsible-actions li button {
    background: #f1a900;
    border: 0;
    color: #223138;
    font-size: 16px;
    padding: 12px 18px 12px 25px;
  }
  #accordion .ui-accordion-header {
    background: #002a3a;
    color: #FFF;
    font-weight: normal;
    padding: 18px 44px 16px 40px;
    text-transform: uppercase;
  }
  #accordion .ui-accordion-header-icon {
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    line-height: 0.9;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  #accordion .ui-accordion-header .equipment_ui_a:before {
    content: "\f057";
  }
  #accordion .ui-accordion-header .equipment_ui_da:before {
    content: "\f0ab";
  }
  #accordion .ui-accordion-content {
    border: 2px solid #f57c1f;
    margin: 2px 0 10px;
    padding: 28px 38px 30px 40px;
  }
  #accordion .ui-accordion-header {
    margin-bottom: 10px;
  }
  #accordion .header h4 {
    font-size: 20px;
    color: #223138;
    text-transform: uppercase;
  }
  .recommendations .product-title {
    font-size: 16px;
  }
  .recommendations .tiername, .capacity .tiername {
    color: #f57c1f;
  }
  .recommendations .recommendation, .capacity .recommendation {
    color: #223138;
    font-weight: 300;
  }
  .capacity .tiername {
    font-size: 16px;
    font-weight: bold;
  }
  .products .recommendations {
    float: left;
    padding: 25px 0 0 3px;
    width: 90%;
  }
  .products .product-thumb {
    float: right;
    width: 10%;
  }
  .products li {
    border-bottom: 1px solid #c7d0d5;
    display: block;
    padding: 5px 3px;
    width: 100%;
  }
  .products li:last-child {
    border-bottom: 0;
  }
  .equipment-notice {
    color: #223138;
    font-size: 14px;
    margin-top: 38px;
    line-height: 20px;
    padding: 6px 25px;
  }
  #facetResultsBlock .header-logo a{
    margin-right: 185px;
  }
  @media screen and (max-width:1400px){
    #facetResultsBlock .header-logo a{
      margin-right:0;
    }
  }
  @media only screen and (min-width: 1680px) {
    #facetResultsBlock .header-logo, .language-container {
      max-width: 1620px;
      margin: 0 auto;
    }
    .language-container {
      position: relative
    }
    #languageSelector {
      bottom: 88px;
      right: 0;
      top: auto;
    }
    div#facetResultsTable {
      max-width: 1620px;
      margin: 0 auto;
    }
    #facetsContainer {
      max-width: 1620px;
      margin: 0 auto;
    }
    .home-page .header-container {
      padding: 89px 0 125px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .clearFacetContainer, .searchMessage {
      width: 100%;
    }
    #facetResultsBlock .header-logo a{
      margin-right: auto;
    }
    /*#facetResultsBlock .header-logo {
      text-align: center;
    }*/
  }

  @media only screen and (max-width: 991px) {
    .copyright ul li {
      display: table-cell;
    }
    .copyright ul li:nth-child(2) {
      clear: both;
    }
    .copyright ul li:not(:first-child) {
      display: inline-block;
      margin-top: 10px;
    }
    .copyright p {
      height: auto;
      line-height: 20px;
    }
  }

  @media only screen and (max-width: 840px) {
    .home-page .page-container #facetSearch{
        padding: 0 15px;
    }
    .os-home-search-text {
        width: 100%;
    }
    .os-home-search-select {
        width: calc(100% - 60px);
    }
    .home-page .os-home-search-select, .home-page .os-home-search-btn {
        margin-top: 20px!important;
    }
    h2.os-title {
        font-size: 30px;
    }
    .os-home-search-text input, .os-home-search-select select, .os-home-search-btn input {
        margin-right: 0px;
        width: 100%;
    }
  }
  
  @media only screen and (max-width: 767px) {
    #languageSelector {
        top: 30px;
    }
    #facetResultsBlock .header-logo {
      margin-right: 0;
      text-align: center;
    }
    .facetSearchTop {
      padding:  15px 15px 0;
    }
    .facetSearchTop div#modelSearchInput {
      width: 100%;
    }
    .facetSearchTop div#modelSearchSelect {
      width: calc(100% - 70px);
    }
    #facetResultsBlock .modelSearchContainer {
      margin-bottom: 15px;
    }
    .searchFacets .facet {
      width: 25%;
    }
    .searchFacets {
      flex-direction: unset;
      flex-wrap: wrap;
    }
    .searchFacets .facet {
      width: calc(50% - 15px);
      flex-grow: 1;
      margin: 0;
      flex: auto;
    }
    .searchFacets .facet.displacement, .searchFacets .facet.fueltype {
      margin: 0 0 15px 7px;
    }
    .searchFacets .facet.year, .searchFacets .facet.series {
      margin: 0 8px 15px 0;
    }
    .clearFacetContainer a {
      margin: 0 15px 15px 0;
    }
    .clearFacetContainer a.clearFacetAll {
      margin-bottom: 15px;
    }
    .facetSearchBottom {
      clear: both;
      padding: 0 15px 15px;
    }
    .clearFacetContainer h3 {
      line-height: 24px;
      padding-bottom: 15px;
      width: 100%;
    }
    .searchPageControls p{
      display: inline-block;
      padding: 0 5px;
    }
    .searchMessage form.next_page, .searchMessage form.prev_page {
      float: none;
      display: inline-block;
    }
    .searchMessage button.button {
      width: 33px;
      height: 30px;
    }
    table.vehicle {
      padding: 0 15px;
    }
    .footer-container {
      padding: 0 15px;
    }
    .modelInfo li {
      margin-bottom: 0;
      width: 100%;
    }
    #recommendationPage {
      padding: 0 15px;
    }
    .equipment-right {
      display: block;
      text-align: center;
      width: 100%;
    }
    .equipment-left {
      padding: 16px 0;
      width: 100%;
    }
    .actionTop ul li {
      margin-left: 10px;
    }
    #modelRecommendation {
      padding: 30px 15px;
    }
    #accordion .ui-accordion-content {
      padding: 28px 15px;
    }
    .products .product-thumb {
      float: none;
      width: 100%;
    }
    .products .recommendations {
      float: none;
      padding: 25px 0 0 0;
      width: 100%;
    }
    .datasheet {
      display: block;
      padding-right: 0;
      width: 100%;
    }
    .more_information {
      padding: 10px 0;
    }
    #accordion .ui-accordion-header {
      padding: 18px 20px 16px 20px;
    }
    .capacity {
      padding: 5px 0;
    }
    .home-page .header-container {
      padding: 45px 0;
    }
    .page-container .select-items div {
      height: 23px;
      line-height: 23px;
    }
    #facetResultsBlock .header-logo {
      padding-top: 50px;
    }
  }
  @media only screen and (max-width: 480px) {
    .searchFacets .facet.displacement, .searchFacets .facet.fueltype, .searchFacets .facet.year, .searchFacets .facet.series {
      margin: 0 0 15px 0;
      width: 100%;
    }
    .facetSearchTop {
      padding: 15px 15px 0;
    }
    .searchMessage button.button {
      width: 25px;
      height: 22px;
    }
    .actionTop ul li {
      margin-left: 0;
      width: 100%;
      margin-bottom: 10px;
    }
    .actionTop ul li:last-child {
      margin-bottom: 0;
    }
    .actionTop ul {
      float: none;
    }
  }



  /* FOOTER LINK */
  .footer-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    color:#fff;
    max-width: 700px;
    margin: 0 auto;
    margin-top: -80px;
    margin-bottom: 40px;

  }

  .footer-contact a{
    color: #fff;
  }

  .footer-contact h4 {
    margin: 0 auto;
  }

  .footer-contact ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer-contact ul span li:before{

    content: '\f095';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-right: 6px;
    color: #e0701e;
  }

  .footer-contact ul li:nth-child(2) span:before{

    content: '\f0e0';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-right: 6px;
    color: #e0701e;
  }

  .footer-contact ul li:nth-child(3) span:before{

    content: '\e800';
    font-family: Fontello;
  
    font-weight: normal;
    padding-right: 6px;
    color: #e0701e;
  }

  .footer-contact ul li:nth-child(2) a,
  .footer-contact ul li:nth-child(3) a{
    color: #bf8e28;
  }

  @media screen and (max-width:768px){
    .footer-contact ul{
      flex-direction: column;
    }
  
    .footer-contact ul li,
    .footer-contact ul span {
      margin: 0 auto;
      margin-bottom: 10px;

    }

    .footer-contact{
      margin-bottom: 0;
      margin-top: 25px;
    }
  }

  /* GSSI Update 17082020 */
	@media only screen and (max-width: 767px){
		.home-page #facetSearchBG .header-container {
			padding: 75px 0 45px;
		}

		#languageSelector {
			position: absolute;
			right: unset;
			display: flex;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	
	