@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

@font-face {
    font-family: 'NevisBold';
    src: url('../fonts/nevis.eot');
    src: url('../fonts/nevis.eot') format('embedded-opentype'),
         url('../fonts/nevis.woff') format('woff'),
         url('../fonts/nevis.ttf') format('truetype'),
         url('../fonts/nevis.svg#NevisBold') format('svg');
}

body{
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7;/*22 / 13*/
}

h1,h2,h3,h4,h5,h6,
#footer .f-title,
#header-banner .title,
#header-banner .title2{ font-family: 'NevisBold', sans-serif; margin-bottom: 11px;}

h1 {
	font-size:30px;
	color:#f2a900;
	font-weight:400;
	/*text-transform:uppercase;*/
	line-height: 1;
}
	.page-template-homepage-php h1{
		font-size: 25px;
	}
h2 {
	font-size:26px;
	color:#e35205;
	font-weight:700;
	line-height: 1;	
	font-weight:400;
}
	

h3 {
	font-size:20px;
	color:#7ba3b4;
	font-weight:700;
	line-height: 1;	
	font-weight:400;
}

.iao .heading{
	font-size: 14px; 
	font-weight: 700; 
	display: block;
	margin-bottom: 10px;
}
.home .section-overview li .title{font-family: 'Open Sans', sans-serif; }

/* Remember: LoVe For Hate */
a {color:#ffa500; text-decoration: none;}
a:visited {}
a:focus,a:active {}
a:hover {color:#f2a900;}

/* --Overview Page items-- */
.home .section-overview .so-item .title{
	font-size: 18px;
	color: #ffa500; 
	text-transform: none;
	font-weight: 400;
	line-height: 1;
}
	.home .section-overview .so-item p{ font-size: 13px; line-height: 18px; margin: 5px 0; }
	.home .section-overview .so-item a{ 
		display: block;
		background: url(../images/discover_more.png) no-repeat top left;
		width: 118px;
		height: 20px;
	}
		.home .section-overview .so-item a:hover{ background-position: 0 -20px; }
	
	#content .products-container .pc-item:before{content:"";} 

/*foxy*/
.pc-item h2,
#content .foxyshop_product_list h2{ 
	font-family: 'Open Sans', sans-serif;
}
.pc-item h2{ 
	font-size: 15px; 
	sans-serif; line-height: 1.7;
	text-transform: capitalize; 
}

#content .foxyshop_product_list h2{
	font-size: 12px;
	line-height: 1.3;
}


/*Testimonials*/

.testimonial {margin-bottom:30px; border-bottom:1px solid #FFA500; }
.testimonial p {color:#7BA3B4;}
.testimonial em {color:#FFF;}

.fs-link {
	border: solid #ffa500 1px;
	display: inline-block;
	background: #fff;
	-moz-box-shadow:    inset  5px 5px 15px #000000;
	-webkit-box-shadow: inset  5px 5px 15px #000000;
	box-shadow:         inset  5px 5px 15px #000000;
	position: relative;
	overflow: hidden;
	padding: 10px;
}
.fs-link:hover:before {
	border: solid #cf5c03 5px !important;
}
.ie8 .fs-link:before {
	width: 100%;
	height: 100%;	
	margin-top: -5px !important;
	margin-left: -5px !important;
}
.fs-link:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	margin: 0 !important;
	border: solid #002a3a 5px !important;
}
.fs-link img {
	display: block;
	margin: 0 !important;
	border: 0 !important;
}

.table-style1 {
	border: 1px solid #fff;
	width: 100%;
}

.table-style1 th {
	text-align: center;
	border: 1px solid #fff;
}

.table-style1 td {
	border: 1px solid #fff;
	padding: 5px;
}