/*	SKIN.CSS - Stylesheet for the visual style 
	(background properties and images and foreground colors)
	Nothing in skin.css should cause elements in the layout to change position */
/*	REMOVE: included to provide a visual guide for demo 
	- .cta margins might normally be in main.css */
/*#header, #footer { background-color: #DDD; }
.section-inner { background-color: #EEE; }
#main { background-color: #CCC; border-top: 1px solid white; border-bottom: 1px solid white; }
	.cta { margin-bottom: 10px; }
	.cta a {
		display: block;
		padding: 20px;
		background-color: #AAA;
		color: White;
	}
		.cta a:hover { background-color: #999; } */
			
/* END REMOVE */
body{ background:#0A2D3C; position: relative; }
.hidden,
.foxyshop_price,
.foxyshop_button,
#foxyshop_breadcrumbs{
	display: none;
	visibility: hidden;
}
/*transition all elements*/
#header, #logo, #header-banner, #util{
  transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s; /* Safari andz Chrome */
  -o-transition: all 0.5s; /* Opera */
}
#mainnav a,
#subnav a{
	transition: all 0.3s;
  -moz-transition: all 0.3s; /* Firefox 4 */
  -webkit-transition: all 0.3s; /* Safari andz Chrome */
  -o-transition: all 0.3s; /* Opera */
}
/*background images*/
#m-background{ background-color:#002A3A; background-position: top center; background-repeat: none;}
	#m-background span{background:url(../images/skin/bg/bg_mask.png) no-repeat top center;}
		.page-template-homepage-php #m-background span{background-position: center 205px;}
	
	#m-background, .about #m-background{background-image:url(../images/skin/bg/bg_about.jpg);}
	.agriculture #m-background{background-image:url(../images/skin/bg/bg_agriculture.jpg);}
	.automotive #m-background{background-image:url(../images/skin/bg/bg_automotive.jpg);}
	.construction #m-background{background-image:url(../images/skin/bg/bg_construction-contact.jpg);}
	.exploration #m-background{background-image:url(../images/skin/bg/bg_exploration.jpg);}
	.forestry #m-background{background-image:url(../images/skin/bg/bg_forestry.jpg); background-position: 0 126px;}
	.industrial #m-background{background-image:url(../images/skin/bg/bg_industrial2.jpg);}
	.industry-applications #m-background{background-image:url(../images/skin/bg/bg_industrial-applications.jpg);}
	.marine #m-background{background-image:url(../images/skin/bg/bg_marine.jpg);}
	.contact-klondike #m-background{background-image:url(../images/skin/bg/bg_construction-contact.jpg);}
	.tech-resources #m-background, .parent-pagename-tech-resources #m-background{background-image:url(../images/skin/bg/bg_tech-resources.jpg);}
	.mining #m-background, .our-products #m-background{background-image:url(../images/skin/bg/bg_mining-products.jpg);}
	.on-road-heavy-duty #m-background{background-image:url(../images/skin/bg/bg_on-road_heavy-duty.jpg);}
	.home #m-background{background: none;}
	
	
/*overlay effect*/
.product-overlay{
  background: #000;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9600;
  opacity: 0.9;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
}
	.ie8 .product-overlay{filter: alpha(opacity=90);}
/*header*/
#header{ background:url(../images/skin/header-bg.png) repeat-x bottom left; }
	#header.small{background-position: 0 -42px}
		.page-template-homepage-php #header{background-position: 0 -62px}
	#mainnav { 
		font-size: 13px; 
		padding-bottom: 6px; 
		border-bottom: 1px solid #fff;		
	}
		.ie8 #mainnav{font-size: 12px;}
		#menu-main-nav .menu-item{
			width: 114px;
			border:1px solid #cf5c03;
			margin-left: 6px;
			position: relative;
			padding: 1px;
		}
			.page-template-homepage-php #menu-main-nav .menu-item{
				width: 185px;
			}
			#menu-main-nav .menu-item:first-child{margin-left:0; }
			#menu-main-nav.cat-item-13{display: none; visibility: hidden;}
			
			/*#menu-main-nav .sub-menu{display: none;}*/
			#menu-main-nav .sub-menu{
				position: absolute;
				top: 100%;
				margin-left: -1px;
				left: 0;
				background: url(../images/klondike-blue.png) repeat-x ;
				padding: 20px;
				width: 180px;
				z-index: 3800;
				display: none;
			}
				.page-template-homepage-php #menu-main-nav .sub-menu{width: 230px;}
				#menu-main-nav li:hover .sub-menu{display: block;}
				#menu-main-nav .sub-menu li{
					border:none;
					clear: both;
					margin: 6px 0 0 0;
					width: 100%;
				}
					#menu-main-nav .sub-menu li:first-child{margin-top: 0;}
					#menu-main-nav .sub-menu li a{
						color: #6D6D6D;
						display: block;
						font-weight: 400;
						padding: 0;
						text-transform: none;
						line-height: 1.3;
					}
			
			/*our products*/
			#menu-main-nav #menu-item-95:hover .sub-menu{display: none; visibility: hidden;}
		#menu-main-nav .menu-item a ,#menu-main-nav .menu-item a span{ display: block; line-height: 1; }
			#menu-main-nav a{ 
				padding:5px 10px; 
				color: #fff; 
				font-weight: 600;
				text-transform: uppercase; 
			}
				.page-template-homepage-php #menu-main-nav a{
					letter-spacing: -0.05em;
				}
				#menu-main-nav>.current_page_item .menu-item>a,
				#menu-main-nav>.current-menu-item>a,
				#menu-main-nav>.current-page-ancestor>a,
				#menu-main-nav>.current-menu-ancestor>a{ background: #f2a900; color: #0a2d3c; }
				
				#menu-main-nav .current_page_item .sub-menu a,
				#menu-main-nav .current-menu-item .sub-menu li a{
					background: none;
					color: #6D6D6D;
				}
					#menu-main-nav .sub-menu li a:hover,
					#menu-main-nav .current-menu-item .sub-menu li a:hover,					
					#menu-main-nav .current-menu-item .sub-menu li.current-menu-item a:hover{
						color: #DC5E00;
					}
				#menu-main-nav .menu-item a:hover{background:#fff; color: #0a2d3c;}
				#menu-main-nav li.dp-imgs-item a{
					padding: 0;
					display: block;
					height: 100%;
					text-align: center;
				}
	/*dropdown*/
	#drop_products .section-wrapper{
		background: #fff;
		padding: 20px;
		border-top: 1px solid #959595;
	}
		.page-template-homepage-php #drop_products .section-wrapper{border-top:0;}
		#menu-main-nav .current-menu-item #drop_products a{	background: none; }
		#menu-main-nav #dp-links a,
		#menu-main-nav .current-menu-item #drop_products a{ 
			color: #6d6d6d;
			font-weight: 400;
			text-transform: none;
			padding: 0;
			display: block;
		}
			#menu-main-nav #dp-links a:hover,
			#menu-main-nav #dp-links a.hover{ color: #dc5e00; }
		
		#menu-main-nav li.dp-imgs-item.dp-selected{ border:1px solid #000;}
			#menu-main-nav .dp-selected a,
			#menu-main-nav .current-menu-item #drop_products .dp-selected a{ background: #E15204; }
				#menu-main-nav .dp-selected a:hover,
				#menu-main-nav .current-menu-item #drop_products .dp-selected a:hover{background: #E15204;}
		
	#header-banner .title, #header-banner .title2{ 
		font-size: 28px; 
		line-height: 1; 
		color: #fff; 
		font-weight: 400; 
		text-transform: uppercase;
	}
		.foxyshop-single-product #header-banner .title{display: none;}
	/*contact link*/
	#util .contact a{
		display: block;
		height: 52px;
		width: 138px;
		background: url(../images/contact-rep.png) no-repeat 0 0;
	}
		#util .contact a:hover{ background-position:0 -52px }
	/*explore link*/
	#util .explore a{
		display: block;
		height: 52px;
		width: 342px;
		margin-right: 60px;
		display: none;
	}
		.page-template-homepage-php #util .explore a{background: url(../images/skin/bg/explore-oil.png) no-repeat 0 0; display: block;}
		#util .explore a:hover{ background-position:0 -52px }
/*content*/
#content{}
	#content ul{padding:0; }
		#content ul li{list-style: none;}
			#content ul li:before{ color:#e35205; content:"• "; }
	.our-products #content ul,
	.foxyshop-single-product #content ul {margin-left:0; margin-bottom: 30px;}
	.foxyshop-single-product #content ul  li {
		padding-left: 0;
		margin: 0;
	}
	.foxyshop-single-product #content table {
		width: 100%;
		margin-bottom: 30px;
	}
	.c-w1 img{border:1px solid #fff; margin:0 0 20px 30px;}
#subnav{}
	#subnav li{
		border:1px solid #64696e;
		padding:10px;
		background: #001e28;
	}
		#subnav li.current_page_item, #subnav li.foxyshop-active-category{ border-color:#e35205; }
		#subnav li li{ border:none; padding:0; list-style: decimal; }
	#subnav li a{
		color:#fff;
		line-height: 1;
	}
		#subnav li.current_page_item a,
		#subnav li.current_page_parent a, 
		#subnav li.foxyshop-active-category a, 
		#subnav li a:hover{ color:#ffa500; }
		
		#subnav li li a{position: relative; padding-left: 10px;}
		#subnav li li a:before{ content:"• "; position: absolute; top:0; left:0;}
			#subnav li li a{color: #96b1bb;}
			#subnav li li a.active{ color:#fff; }
	#subnav li.active-parent-subnav,
	#subnav li.current-foxyshop_product-parent{
		border:1px solid #e35205;
	}
/*footer*/


		/*footer buttons cta*/
		.btn_cta{
			background: url(../images/skin/cta-rest_bg.png) repeat-x;
			display: block;
			width: 208px;
			height: 78px;
			border:1px solid #ffb300;
			color: #fff;
			text-align: center;
			padding:0 21px;
			line-height: 1;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 20px;
		}
			.btn_cta span{padding-top:18px; display: block;}
		.page-template-homepage-php .btn_cta{background: none;}
/*homepage*/
.home #content ul li:before{ content:"";}
	.home #content ul{margin:0;}
/*overview pages*/
	#product-family a{background:url(../images/skin/zoom-icon.png) no-repeat;}
		#product-family a:hover{background-position: 0 -15px;}
/*overview products*/
.pc-item{ text-align: center; }
	
	.pc-item a{ display: block; color: #ffa500; cursor: pointer; }
	#content .pc-item img,
	#content .foxyshop_product_image img{margin:0; border:0;}
	#content .pc-item div{float: left;}
.pc-item .foxyshop_category_image{ height:220px; width: 200px; background:url(../images/product-frame_medium.png) no-repeat;}
/*	#content .pc-item .foxyshop_category_image{ height:176px; width: 160px; background:url(../images/product-frame_small.png) no-repeat;}
	#content .details .pc-item .foxyshop_category_image{ height:330px; width: 300px; background:url(../images/product-frame_large.png) no-repeat;}
*/
	.pc-item .foxyshop_category_image:hover{background-position: 0 -220px;}
	/*	#content .pc-item a:hover .foxyshop_category_image{background-position: 0 -176px;}
		#content .details .pc-item a:hover .foxyshop_category_image{background-position: 0 -330px;}*/
	.pc-item .foxyshop_category_image img{max-width: 92%;}
/*Foxy shop styles reset*/
#content .foxyshop_product_list, #content .foxyshop_product_image,
#content .foxyshop_product_list .foxyshop_product_info h2,
#content .foxyshop_product_list .foxyshop_product_info{margin:0; float:none; width: auto;}
#content .foxyshop_product .foxyshop_product_info {
  float: left;
  /*padding-left: 25px;*/
  width: 386px;
}
/*Foxy shop new styles*/
#content .foxyshop_product_list{ margin:0; padding: 0; }
	#content .foxyshop_product_list li:before{ content:""; }
	#content .foxyshop_product_list li{text-align: center; /*text-transform: capitalize;*/}
	#content .foxyshop_product_image{ height:176px; width: 160px; background:url(../images/product-frame_small.png) no-repeat;}
		#content .foxyshop_product_image:hover{background-position: 0 -176px;}
	.foxyshop-single-product #content .foxyshop_product_image{ 
		float:left;
		height:330px; 
		width: 300px; 
		background:url(../images/product-frame_large.png) no-repeat;
		margin-right: 20px;
		margin-bottom: 10px;
	}
		.foxyshop-single-product #content .foxyshop_product_image:hover{background-position: 0 -330px;}
		.single-foxyshop_product.foxyshop-single-product #content .foxyshop_product_image:hover{background-position: 0 0;}
	#content .foxyshop_product_list .foxyshop_product_info h2{margin-top: 8px;}
/*Industry Applications Options*/
#content #featured-products li{text-align: center;}
#content #featured-products li:first-child{margin-left: 0;}
	#content #featured-products li .fp-img-wrap{
	  background: url("../images/product-frame_small.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	  height: 176px;
	  width: 160px;
	  margin-bottom: 5px;
	}
		#content #featured-products li .fp-img-wrap img{}
		#content #featured-products li .fp-img-wrap:hover{background-position: 0 -176px;}
		
		#content #featured-products li .fp-img-wrap a{
			display: block;
			height: 100%;
			position: relative;
			width: 100%;
			text-align: center;
		}
		#content #featured-products li .fp-img-wrap a img{
			max-width: 75%; border: none;
			position: relative;
  top: 50%;
  transform: translateY(-50%);
		}
		
	    /*approvals link*/
        #util .approvals a{
                        display: block;
                        height: 52px;
                        width: 135px;
                        background: url(../images/oem-approvals.png) no-repeat 0 0;
        }
		
		 /*approvals link*/
		 #util .eze-box, #util .approvals{display:none;}
        #util .cummins-approvals a{
                        display: block;
                        height: 52px;
                        width: 175px;
                        background: url(../images/CTA-Cummins.png) no-repeat 0 0;
        }
		 #util .truck-world a{
			   margin-right:40px;
                        display: block;
                        height: 52px;
                        width: 205px;
                        background: url(../images/cta-truck-world.png) no-repeat 0 0;
        }

/*,#util .truck-world a:hover*/
    /*  #util .catalog a{ 
        	display: block; 
        	height: 52px;
        	width: 230px;
        	background: url(../images/Nano-CTA.png) no-repeat 0 -52px;
        	margin-right: 20px;
        }
		#util .catalog a:hover{ background-position:0 0 }

		  #util .unmatched a/{ 
        	display: block; 
        	height: 52px;
        	width: 230px;
        	background: url(../images/Nano-CTA.png) no-repeat 0 -52px;
        	margin-right: 20px;
        }*/

        #util .catalog{
        	display: none!important;
        }
        
		#util .unmatched a:hover{ background-position:0 -52px; }
		
		 #util .techblog a{
                        display: block;
                        height: 50px;
                        width: 138px;
						margin-right:20px;
                        background: url(../images/CTA-Blog.png) no-repeat 0 0;
						background-position:0 -50px;
        }
		 
	#util .techblog a:hover{background-position:0 0;}
	 #util .demo-int a{
                        display: block;
                        height: 50px;
                        width: 138px;
						margin-right:20px;
                        background: url(../images/demo-int-logo.png) no-repeat 0 0;
						background-position:0 0;
        }
		 
	#util .demo-int a:hover{background-position:0 -50px;}

		#util .cummins-approvals a:hover/*,#util .truck-world a:hover*/{ background-position:0 -52px }
		#util .approvals a:hover{ background-position:0 -52px } 
		
		/*eze-box link*/
		#util .eze-box { margin-right:50px; }
        #util .eze-box a{
                        display: block;
                        height: 52px;
                        width: 184px;
                        background: url(../images/cta_eze-box-01.png) no-repeat 0 0;
        }
		#util .eze-box a:hover{ background: url(../images/cta_eze-box-02.png) no-repeat 0 0; }
		#content .eze-boxs .foxyshop_product_list { margin-bottom: 40px; }
		#content .eze-boxs .foxyshop_product_image
		#content .eze-boxs .foxyshop_product_image img {
			
			/*display: block;
		    height: 148px;
		    left: 40%;
			top: 30%;
		    position: relative !important;
		    width: 130px;*/
			display: block;
			margin: 0 auto;
			position: static;
		}
#content ul.brands {
	list-style: none;
}
#content ul.brands li {
	display: inline-block;
	list-style: none;
	margin-right: 2%;
	width: 30.3%;
}
#content ul.brands li img {
	margin: 0;
	border: none;
	display: block;
	max-width: 100%;
}
#content ul.brands li:before {
	display: none;
}